{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for image in images %}
      <div class="card">
        <div class="card-header">
          <h5>{{image.post_creator}}</h5>
        </div>
        <div class="view overlay">
          <img class="card-img-top img-fluid" src="{{ image.image.url }}" alt="{{ image.image_name }}">
        </div>
        <div class="card-footer">
          <span>{{ image.likes }}</span>
          <p>{{ image.image_caption }}</p>
          <p>{{ image.comments }}</p>
          <p class="text-muted">{{ image.date_posted }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-4">
    </div>
  </div>

</div>
{% endblock %}