{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header d-flex">
          <div>
            <img class="rounded-circle account-img-profile" src="{{ object.post_creator.profile.profile_picture.url }}"
              alt="profile picture">
          </div>
          <div>
            <h6 class="m-3"><a class="font-weight-bold text-dark text-muted"
                href="{% url 'profile' %}">{{object.post_creator}}</a>
            </h6>
          </div>
        </div>
        <div class="view overlay">
          <img class="card-img-top img-fluid" src="{{ object.image.url|default_if_none:'#' }}"
            alt="{{ object.image_name }}">
        </div>
        <div class="card-footer">
          <div>
            <a class="text-danger" href="{% url 'like_image' image.id %}"><i class="fas fa-heart"></i></a>
            <p>{{ object.likes }} Likes</p>
          </div>
          <p><span class="font-weight-bold">{{ object.post_creator }}</span> {{ object.image_caption }}</p>
          {% for comment in image.comments.all %}
          <div>
            <p><span class="font-weight-bold">{{ comment.author }}</span> {{ comment.text }}</p>
          </div>
          {% endfor %}
          <p class="text-muted">{{ object.date_posted }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
{% endblock %}