@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar-text {
  font-family: sans-serif;
  font-size: 25px;
}
.navbar-text h1, .content-section h1 {
  font-family: 'Cookie', cursive;
  color: black;
}
.container {
  margin-top: 10px;
}
.content-section {
  width: 25%;
  margin: auto;
  box-shadow: 1px 1px 9px -2px rgba(0,0,0,0.75);
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-content {
  width: 70%;
  margin: auto;
}
.col-md-5 .login-content-section {
  margin-top: 3rem;
  box-shadow: 1px 1px 9px -2px rgba(0,0,0,0.75);
}
.login-content-section h1 {
  font-family: 'Cookie', cursive;
}
.card {
  margin: 0 1rem 3rem 1rem;
}
.account-img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-img-profile {
  height: 50px;
  width: 50px;
}