{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container profile-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}" alt="profile picture">
    <div class="user-body d-flex">
      <div>
        <h2 class="account-heading">{{ user.username }}</h2>
        <p>{{ user.profile.user_bio }}</p>
      </div>
      <div>
        <a href="{% url 'update_profile' %}" class="btn btn-sm btn-otline ml-4">Edit Profile</a>
        <a href="{% url 'logout' %}" class="btn btn-sm btn-otline ml-4">Logout</a>
      </div>
    </div>
  </div>
  <div>
    <img src="{{ user.image.url }}" alt="">
  </div>
  {% endblock %}